input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance:none;
	margin:0;
}

#urgencyOutput {
	display: block;
	margin-top: 35px;
	text-align: center;
}

.progressContainer {
	margin-bottom: 25px;
}