/* line 1, ../scss/custom.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 7, ../scss/custom.scss */
#urgencyOutput {
  display: block;
  margin-top: 35px;
  text-align: center;
}

/* line 13, ../scss/custom.scss */
.progressContainer {
  margin-bottom: 25px;
}

/* line 17, ../scss/custom.scss */
.tandc {
  height: 50px;
  border: 1px solid #e3e3e3;
  margin-bottom: 1.25rem;
}

/* line 23, ../scss/custom.scss */
#weeklyGraph,
#monthlyGraph,
#yearlyGraph {
  height: 400px;
}

/* line 29, ../scss/custom.scss */
.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 32, ../scss/custom.scss */
.stripe {
  padding-top: 20px;
}
@media screen and (max-width: 640px) {
  /* line 32, ../scss/custom.scss */
  .stripe {
    padding-top: 0px;
  }
}

/* line 39, ../scss/custom.scss */
.js-err {
  display: none;
}
